  <section class="section">
      <div class="section__container">
          <div class="section__image">
              <img src="{{ 'person.png' | asset_url }}" alt="Model">
          </div>
          <div class="section__text">
              <div class="section__text__wrapper">
                  <h1 class="section__title">{{ section.settings.title }}</h1>
                  <p class="section__description">
                      {{ section.settings.description }}
                  </p>
                  <div class="section__button">
                      <button type="button">{{ section.settings.button_text }}</button>
                  </div>
              </div>
          </div>
      </div>
  </section>

{% schema %}
{
  "name": "image-text-section",
   "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "HANDCRAFTED AND RESPONSIBLY SOURCED"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Section Description",
      "default": "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Learn more"
    }
  ],
  "presets": [
    {
      "name": "image-text-section"
    }
  ]
}
{% endschema %}